<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Marguerite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>140782761B5CA038009070AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14CE0C801B30E53F00AF27DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14CE0C951B30E53F00AF27DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
